
.inventory{
  display: flex;
  margin: 2rem;
  gap: 1rem;
}

/* The animation code */
@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* The element to apply the animation to */
.reorder {
  animation-name: fadein;
  animation-duration: 2s;
}
